{% load static %}
{% load app_tags %}
<!DOCTYPE html>
<html>
<title>I-F</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">


<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.user {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  object-fit: cover;
}
.bgimg {
    background-image: url({% static 'Plants/images/12.jpg' %});
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
/* end */
/* strat */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    /*min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
}

.dropdown-content p:hover {background-color: transparent;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* end */

#id1{
  background-color: black;
  opacity: 0.5;
}

#id2{
    width: 700px;
    height: 400px;
    background-color: black;
    box-shadow: 10px 15px 15px #888888;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.glass {
    margin: 30px auto;
    height: 300px;
    width: 200px;
    position: relative;
    background-color: transparent;
    border-style: none solid solid solid;
    border-width: 5px;
    border-color: #808080;
    border-radius: 10px;

}

.water {
    width: 100%;
    background-color: skyblue;
    position: absolute;
    bottom: 0;
}
.second_div{
  float: left;
  margin-left:15%;
  margin-top:5%;
}
.third_div{
  font-family: 'Source Code Pro', cursive;
  color:black;
  font-size:65px;
  text-align:center;
  text-shadow: 5px 5px gray;
  margin-top:15%;
}
.fourth_div{
  font-family: 'Source Code Pro', cursive;
  color:black;
  font-size:36px;
  text-align:center;
  text-shadow: 2px 2px pink;
  margin-top:1%;
}
</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {
      'packages': ['corechart', 'line','map'],
      'mapsApiKey': 'AIzaSyCUXATclYI8vfBPWa3HAYyn_Vj4xAZ4sgc'
    });
    const showMap = (arr,img1,img2,elt) => {

    google.charts.setOnLoadCallback(drawMap(arr,img1,img2,elt));

    function drawMap (arr,img1,img2, elt) {
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'lat');
      data.addColumn('number', 'long');
      data.addColumn('string', 'Name');

      data.addRows(arr);
      console.log(img1);
      var options = {
          'width':850,
                         'height':500,
         zoomLevel: 6,
         enableScrollWheel: true,
        showTooltip: true,
        showInfoWindow: true,
        useMapTypeControl: true,
          icons: {
            default: {
              normal: img1,
              selected: img2
            }
          }
        };

        var map = new google.visualization.Map(document.querySelector(elt));
        map.draw(data, options);
      }
    }
      const showGraph = (arr, elt) => {
        // console.log(arr)
        // Load the Visualization API and the corechart package.

        google.charts.setOnLoadCallback(drawChart(arr, elt));
        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart(arr, elt) {
           console.log(arr.length)
           var x=elt.substring(1, elt.length - 1);
          // Create the data table.
          var data = new google.visualization.DataTable();
          data.addColumn('datetime', 'Time');
          data.addColumn('number', x);
          for (var i = 0; i < arr.length; i++) {
            var date_test=new Date(arr[i][0].replace(/-/g,"/"));
            data.addRow([new Date(arr[i][0].replace(/-/g,"/")),arr[i][1]]);
          }

          var options = {
                         'width':850,
                         'height':500,
                          legend: { position: 'top', textStyle: {color: 'indigo', fontSize: 16}},

          hAxis: {
            title: 'Time'
          },
          vAxis: {
            title: x+` values`
          }
                       };

          // Instantiate and draw our chart, passing in some options.
          var chart = new google.visualization.LineChart(document.querySelector(elt));
          chart.draw(data, options);
        }
      }
    </script>
<body class="bgimg w3-display-container w3-text-white" >
<div >
<nav class="navbar navbar-inverse navbar-fixed-top" style="background: black; border-bottom: white;">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span></a></li>
    </ul>
  <div class="navbar-header">
    <a class="navbar-brand" href="/"><img src={% static 'Plants/images/if.png' %} height=20px></a>
  </div>
  <div class="dropdown navbar-right">
    <button onclick="document.getElementById('user').style.display='block'" class="w3-button w3-black">
      {% if userprofile %}
        <img src="{{ user.userprofile.picture.url }}" class="user" />
      {% else %}
        <i class="fa fa-user" style="font-size:70px;color:white;text-shadow:3px 3px 4px #000000;"></i>
      {% endif %}
    </button>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="dropdown">
    <p><button class="w3-button w3-black">Plants</button></p>
  <div class="dropdown-content">
    {% for plants in all_plants %}
     <p><button onclick="document.getElementById('sensor{{plants.id}}').style.display='block'" class="w3-button w3-black">{{plants.plant_name}}</button></p>
    {% endfor %}
  </div>
  </div>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <div class="dropdown">
    <p><button onclick="document.getElementById('AddPlant').style.display='block'" class="w3-button w3-black">Add Items</button></p>
  </div>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <div class="dropdown">
    <p><button onclick="document.getElementById('EditPlant').style.display='block'" class="w3-button w3-black">Edit Items</button></p>
  </div>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <div class="dropdown">
    <p><button onclick="document.getElementById('Remove').style.display='block'" class="w3-button w3-black">Remove Items</button></p>
  </div>
  <div class="dropdown">
    <p><button class="w3-button w3-black">Tanks</button></p>
  <div class="dropdown-content">
    {% for tanks in tank_all %}
   <p><button onclick="document.getElementById('tank{{tanks.id}}').style.display='block'" class="w3-button w3-black">Tank {{tanks.id}}</button></p>
   {% endfor %}
  </div>
  </div>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="dropdown">
    <p><button class="w3-button w3-black">Graph: Plants</button></p>
    <div class="dropdown-content">
    {% for plants in all_plants %}
     <p><button onclick="document.getElementById('graph{{plants.id}}').style.display='block'" class="w3-button w3-black">{{plants.plant_name}}</button></p>
    {% endfor %}
  </div>
  </div>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="dropdown">
    <p><button class="w3-button w3-black">Graph: Tanks</button></p>
  <div class="dropdown-content">
    {% for tank in tank_all %}
   <p><button onclick="showGraph({{tanks | getkey:tank.id | safe}}, '#tanklevel{{tank.id}}');document.getElementById('graphtank{{tank.id}}').style.display='block'" class="w3-button w3-black">Tank {{tank.id}}</button></p>
   {% endfor %}
  </div>
  </div>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="dropdown">
    <p><button class="w3-button w3-black">Maps</button></p>
  <div class="dropdown-content">
<p><button onclick="showMap({{maps_plants|safe}},'{% static 'Plants/images/tea-plant-leaf-icon.png' %}','{% static 'Plants/images/tea-plant-leaf-icon72.png' %}','#maps_plants'); document.getElementById('plantmap').style.display='block'" class="w3-button w3-black">Plant</button></p>
     <p><button onclick="showMap({{maps_tanks|safe}},'{% static 'Plants/images/big-water-tank-16.png' %}','{% static 'Plants/images/big-water-tank-72.png' %}','#maps_tanks');document.getElementById('tankmap').style.display='block'" class="w3-button w3-black">Tank</button></p>
  </div>
  </div>


  <div class="w3-display-bottomleft w3-container">

  </div>
</div>
</div>

<div id="AddPlant" class="w3-modal" >
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container" >
      <span onclick="document.getElementById('AddPlant').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>Add Items</h1>
    </div>
      <div class="w3-container">
        <br>
        <br>

        <div style="float: left;width: 50%;padding-left: 20px ;padding-right: 20px ;padding-bottom: 20px;color:black">
          <form action="/add/" method="post" enctype="multipart/form-data" name="Add Plant">
            {% csrf_token %}
            <div class="form-sub-w3">
              <label>Add Plant</label><br>
            </div>
            <div class="form-sub-w3 icon-w3">
                <input type="text" name="name" placeholder="Name " required="" />
                <i class="fa fa-tree" aria-hidden="true"></i>
            </div><br>
            <div class="form-sub-w3 icon-w3">
              <input type="text" name="tank_id" placeholder="Tank Id" required="" />
              <i class="fa fa-flask" aria-hidden="true"></i>
            </div><br>  
            <div class="form-sub-w3 icon-w3">
              <input type="text" name="ws_id" placeholder="Weather Station Id" required="" />
              <i class="fa fa-cloud" aria-hidden="true"></i>
            </div><br>
            <div class="form-sub-w3 icon-w3">
              <input type="text" name="long" placeholder="Longitude" required="" />
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div><br>
            <div class="form-sub-w3 icon-w3">
              <input type="text" name="lat" placeholder="Latitude" required="" />
              <i class="fa fa-globe" aria-hidden="true"></i>
            </div><br>
            <div class="clear"></div>
            <div class="submit-agileits">
              <input type="submit" value="Add Plant">
            </div>
          </form>
        </div>
        <div style="float: right;width: 50%;padding-left: 20px ;padding-right: 20px ;padding-bottom: 20px;color:black">
          <form action="/addws/" method="post" enctype="multipart/form-data" name="Add Plant">
          {% csrf_token %}
            <div class="form-sub-w3">
              <label>Add Weather Station</label>
            </div>
            <div class="form-sub-w3 icon-w3">
                <input type="text" name="name" placeholder="Name " required="" />
                <i class="fa fa-cloud" aria-hidden="true"></i>
            </div>
            <br>
            <div class="form-sub-w3 icon-w3">
              <input type="text" name="long" placeholder="Longitude" required="" />
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <br>
            <div class="form-sub-w3 icon-w3">
              <input type="text" name="lat" placeholder="Latitude" required="" />
              <i class="fa fa-globe" aria-hidden="true"></i>
            </div>
            <div class="clear"></div><br>
            <div class="submit-agileits">
              <input type="submit" value="Add Station">
            </div>
          </form>
        </div>
        <div style="float: left;width: 40%;padding-left: 20px;color:black">
          <form action="/addtank/" method="post" enctype="multipart/form-data" name="Add Plant">
          {% csrf_token %}
            <div class="form-sub-w3">
              <label>Add Reservoir</label>
            </div>
            <div class="form-sub-w3 icon-w3">
                <input type="text" name="name" placeholder="Name " required="" />
                <i class="fa fa-tint" aria-hidden="true"></i>
            </div>
            <br>
            <div class="form-sub-w3 icon-w3">
              <input type="text" name="long" placeholder="Longitude" required="" />
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <br>
            <div class="form-sub-w3 icon-w3">
              <input type="text" name="lat" placeholder="Latitude" required="" />
              <i class="fa fa-globe" aria-hidden="true"></i>
            </div><br>
            <div class="clear"></div>
            <div class="submit-agileits">
              <input type="submit" value="Add Reservoir">
            </div>
            <br>
            <br>
          </form>
        </div>
            </div>
          </div>
        </div>


<!--edit items-->




<div id="EditPlant" class="w3-modal" >
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container" >
      <span onclick="document.getElementById('EditPlant').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>Edit Items</h1>
    </div>
      <div class="w3-container">
        <br>
        <br>

        <div style="float: left;width: 50%;padding-left: 20px ;padding-right: 20px ;padding-bottom: 20px;color:black">
          <form action="/editplant/" method="post" enctype="multipart/form-data" name="Add Plant">
            {% csrf_token %}
            <div class="form-sub-w3">
              <label>Edit Plant</label><br>
            </div>
            <div class="form-sub-w3 icon-w3">
              <input type="text" name="plant_id" placeholder="Plant Id" required="" />
              <i class="fa fa-tree" aria-hidden="true"></i>
            </div><br> 
            <div class="form-sub-w3 icon-w3">
                <input type="text" name="name" placeholder="Plant Name " />
                <i class="fa fa-tree" aria-hidden="true"></i>
            </div><br>
             
            
            <div class="form-sub-w3 icon-w3">
              <input type="text" name="long" placeholder="Longitude" />
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div><br>
            <div class="form-sub-w3 icon-w3">
              <input type="text" name="lat" placeholder="Latitude" />
              <i class="fa fa-globe" aria-hidden="true"></i>
            </div><br>
            <div class="clear"></div>
            <div class="submit-agileits">
              <input type="submit" value="Edit Plant">
            </div>
            <br>
            <br>
          </form>
        </div>
        <div style="float: right;width: 50%;padding-left: 20px ;padding-right: 20px ;padding-bottom: 20px;color:black">
          <form action="/editws/" method="post" enctype="multipart/form-data" name="Add Plant">
          {% csrf_token %}
            <div class="form-sub-w3">
              <label>Edit Weather Station</label>
            </div>
            <div class="form-sub-w3 icon-w3">
              <input type="text" name="ws_id" placeholder="Station Id" required="" />
              <i class="fa fa-flask" aria-hidden="true"></i>
            </div><br>
            <div class="form-sub-w3 icon-w3">
                <input type="text" name="name" placeholder="Name "/>
                <i class="fa fa-cloud" aria-hidden="true"></i>
            </div>
            <br>
            <div class="form-sub-w3 icon-w3">
              <input type="text" name="long" placeholder="Longitude"/>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <br>
            <div class="form-sub-w3 icon-w3">
              <input type="text" name="lat" placeholder="Latitude"/>
              <i class="fa fa-globe" aria-hidden="true"></i>
            </div>
            <div class="clear"></div><br>
            <div class="submit-agileits">
              <input type="submit" value="Edit Station">
            </div>
          </form>
        </div>
        <div style="float: left;width: 50%;padding-left: 20px;color:black">
          <form action="/edittank/" method="post" enctype="multipart/form-data" name="Add Plant">
          {% csrf_token %}
            <div class="form-sub-w3">
              <label>Edit Reservoir</label>
            </div>
            <div class="form-sub-w3 icon-w3">
              <input type="text" name="tank_id" placeholder="Reservoir Id" required="" />
              <i class="fa fa-flask" aria-hidden="true"></i>
            </div><br>
            <div class="form-sub-w3 icon-w3">
                <input type="text" name="name" placeholder="Name "/>
                <i class="fa fa-tint" aria-hidden="true"></i>
            </div>
            <br>
            <div class="form-sub-w3 icon-w3">
              <input type="text" name="long" placeholder="Longitude"/>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <br>
            <div class="form-sub-w3 icon-w3">
              <input type="text" name="lat" placeholder="Latitude"/>
              <i class="fa fa-globe" aria-hidden="true"></i>
            </div><br>
            <div class="clear"></div>
            <div class="submit-agileits">
              <input type="submit" value="Edit Reservoir">
            </div>
            <br>
            <br>
          </form>
        </div>
            </div>
          </div>
        </div>

<!-- sensor values -->
{% for  plants in all_plants %}
<div id="sensor{{plants.id}}" class="w3-modal" >
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container" >
      <span onclick="document.getElementById('sensor{{plants.id}}').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>{{plants.plant_name}}</h1>
    </div>
      <div class="w3-container">
        <br>
        <br>
                                <br>
                                <div style="float: left;width: 50%;padding-left: 20px ;padding-right: 20px ;padding-bottom: 20px;">
                                        <div class="w3-card-4" style="width:100%">
                                         <p> <img src={% static 'Plants/images/temp.jpg' %} align="left" style="width:40%"> <h1 align="middle" style="color: black">{{plants.ws_key.ws_data_set.last.temp}} <sup>0</sup>C</h1></p>
                                          <div class="w3-container w3-center">
                                            <p><h3 style="color: green">Temperature</h3></p>
                                          </div>
                                        </div>
                                </div>
                                <div style="float: right; width:50%;padding-left: 20px ;padding-right: 20px ;padding-bottom: 20px;">
                                        <div class="w3-card-4" style="width:100%">
                                          <p><img src={% static 'Plants/images/humidity.jpg' %} align="left"  style="width:40%"> <h1 align="middle" style="color: black">{{plants.ws_key.ws_data_set.last.humidity}} %</h1></p>
                                          <div class="w3-container w3-center">
                                            <p><h3 style="color: green">Humidity</h3></p>
                                          </div>
                                        </div>
                                </div>

                                <br>
                                 <div style="float: left;width: 50%;padding-left: 20px ;padding-right: 20px ;padding-top: 10px;">
                                        <div class="w3-card-4" style="width:100%">
                                         <p> <img src={% static 'Plants/images/rainfall.jpg' %} align="left" style="width:40%"> <h1 align="middle" style="color: black ">{{plants.ws_key.ws_data_set.last.rainfall}} mm</h1></p>
                                          <div class="w3-container w3-center">
                                            <p><h3 style="color: green">Rainfall</h3></p>
                                          </div>
                                        </div>

                                </div>
                                 <div style="float: left;width: 50%;padding-left: 20px ;padding-right: 20px ;padding-top: 10px;">
                                        <div class="w3-card-4" style="width:100%">
                                        <p>  <img src={% static 'Plants/images/soil.jpg' %} align="left" style="width:40%"> <h1 align="middle" style="color: black">{{plants.soil_data_set.last.moisture}} %</h1></p>
                                          <div class="w3-container w3-center">
                                            <p><h3 style="color: green">Soil Moisture</h3></p>
                                          </div>
                                        </div>
                                  </div>
                                </div>
                                <br>
              </div>

            <div class="clearfix"></div>
      </div>{% endfor %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>



<!--graphs-->
{% for tanks in tank_all %}
<div id="graphtank{{tanks.id}}" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container">
      <span onclick="document.getElementById('graphtank{{tanks.id}}').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1> Water Graph : Tank {{tanks.id}}</h1>
    </div>
    <div class="w3-container">
      <div id="tanklevel{{tanks.id}}"></div>
    </div>
  </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endfor %}

{% for  plants in all_plants %}
<div id="graph{{plants.id}}" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black">
      <span onclick="document.getElementById('graph{{plants.id}}').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>Graphs</h1></div>
      <div class="w3-container" >
        <br>
        <br>
                <br>
                <div style="float: left;width: 50%;padding-left: 40px ;padding-right: 0px ;padding-bottom: 20px;">
                        <div class="w3-card-4" style="width:100%;padding-left: 70px">

                         <p><button onclick="showGraph({{temperature | getkey:plants.id | safe}}, '#temperature{{plants.id}}'); document.getElementById('temp{{plants.id}}').style.display='block'" class="w3-button w3-black"><img src={% static 'Plants/images/temp.jpg' %} align="center" style="width:100%"><h1>Temperature</h1></button> </p>
                          <div id="temp{{plants.id}}" class ="w3-modal">
                                <div class="w3-modal-content w3-animate-zoom">
                                  <div class="w3-container w3-black">
                                    <span onclick="document.getElementById('temp{{plants.id}}').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
                                    <h1>Temperature</h1>
                                  </div>
                                  <div class="w3-container">
                                    <div id="temperature{{plants.id}}"></div>
                                  </div>
                                </div>
                              </div>
                        </div>
                </div>
                <div style="float: right;width: 50%;padding-left: 40px ;padding-right: 0px ;padding-bottom: 20px;">
                      <div class="w3-card-4" style="width:100%;padding-left: 70px">

                         <p><button onclick="showGraph({{humidity | getkey:plants.id | safe}}, '#humid{{plants.id}}'); document.getElementById('humidity{{plants.id}}').style.display='block'" class="w3-button w3-black"><img src={% static 'Plants/images/humidity.jpg' %} align="center" style="width:100%"><h1>Humidity</h1></button> </p>
                          <div id="humidity{{plants.id}}" class ="w3-modal">
                                <div class="w3-modal-content w3-animate-zoom">
                                  <div class="w3-container w3-black">
                                    <span onclick="document.getElementById('humidity{{plants.id}}').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
                                    <h1>Humidity</h1>
                                  </div>
                                  <div class="w3-container">
                                    <div id="humid{{plants.id}}"></div>
                                  </div>
                                </div>
                              </div>
                        </div>
                </div>
              </div>
              <div class="w3-container" >
                <div style="float: left;width: 50%;padding-left: 20px ;padding-right: 0px ;padding-bottom: 20px;">
                        <div class="w3-card-4" style="width:100%;padding-left: 80px">

                         <p><button onclick="showGraph({{rainfall | getkey:plants.id | safe}}, '#rain{{plants.id}}'); document.getElementById('rainfall{{plants.id}}').style.display='block'" class="w3-button w3-black"><img src={% static 'Plants/images/rainfall.jpg' %} align="center" style="width:100%"><h1>Rainfall</h1></button> </p>
                          <div id="rainfall{{plants.id}}" class ="w3-modal">
                                <div class="w3-modal-content w3-animate-zoom">
                                  <div class="w3-container w3-black">
                                    <span onclick="document.getElementById('rainfall{{plants.id}}').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
                                    <h1>Rainfall</h1>
                                  </div>
                                  <div class="w3-container">
                                    <div id="rain{{plants.id}}"></div>
                                  </div>
                                </div>
                              </div>
                        </div>
                </div>
                <div style="float: right;width: 50%;padding-left: 20px ;padding-right: 0px ;padding-bottom: 20px;">
                        <div class="w3-card-4" style="width:100%;padding-left: 80px">

                         <p><button onclick="showGraph({{soil_moisture | getkey:plants.id | safe}}, '#moist{{plants.id}}'); document.getElementById('moisture{{plants.id}}').style.display='block'" class="w3-button w3-black"><img src={% static 'Plants/images/Soil_icon.png' %} align="center" style="width:100%"><h1>Soil Moisture</h1></button> </p>
                          <div id="moisture{{plants.id}}" class ="w3-modal">
                                <div class="w3-modal-content w3-animate-zoom">
                                  <div class="w3-container w3-black">
                                    <span onclick="document.getElementById('moisture{{plants.id}}').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
                                    <h1>Soil Moisture</h1>
                                  </div>
                                  <div class="w3-container">
                                    <div id="moist{{plants.id}}"></div>
                                  </div>
                                </div>
                              </div>
                        </div>
                </div>
                 </div>
              </div>
</div>
            <div class="clearfix"></div>
      </div>{% endfor %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>



<div id="" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black">
      <span onclick="document.getElementById('tank_1').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>graphs</h1>
    </div>
    <div class="w3-container">
      <div id="char_div_1"></div>
    </div>
  </div>
</div>
<!--maps-->
<div id="plantmap" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black">
      <span onclick="document.getElementById('plantmap').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>Maps: Plants</h1>
    </div>
    <div class="w3-container">
      <div id="maps_plants" style="height: 500px; width: 800px"></div>
    </div>
  </div>
</div>
<div id="tankmap" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black">
      <span onclick="document.getElementById('tankmap').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>Maps: Tanks</h1>
    </div>
    <div class="w3-container">
      <div id="maps_tanks" style="height: 500px; width: 850px"></div>
    </div>
  </div>
</div>

<div id="user" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black">
      <span onclick="document.getElementById('user').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>Profile</h1>
    </div>
    <div class="w3-container"><br>
      <div style="float: left;width: 50%;padding-left: 20px ;padding-right: 20px ;padding-bottom: 20px;color:black">
          <form action="/update/" method="post" enctype="multipart/form-data" name="Add Plant">
            {% csrf_token %}
            <div class="form-sub-w3">
              <label>Edit Profile</label><br>
            </div>
            <div class="form-sub-w3 icon-w3">
                <input type="text" name="fname" placeholder="First Name "  />
                <i class="fa fa-info" aria-hidden="true"></i>
            </div><br>
            <div class="form-sub-w3 icon-w3">
              <input type="text" name="lname" placeholder="Last Name"  />
              <i class="fa fa-info" aria-hidden="true"></i>
            </div><br>  
            <div class="form-sub-w3 icon-w3">
              <input type="password" name="password" placeholder="Password"  />
              <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            </div><br>
            <div class="form-sub-w3 icon-w3">
              <input type="file" name="image" placeholder="Profile Image"  />
              <label for="image"> Select a Image to upload</label>
            </div><br>
            <div class="form-sub-w3 icon-w3">
              <input type="text" name="email" placeholder="Email Id" />
              <i class="fa fa-envelope-square" aria-hidden="true"></i>
            </div><br> 
            <div class="clear"></div>
            <div class="submit-agileits">
              <input type="submit" value="Update Profile">
            </div>
            <br>
            <br>
          </form>
        </div>
      <div id="char_div"></div>
      <h2 style="color: gray;">Welcome</h2>
      <div style="color: purple ; font-size: 15px;">
        <span style="color: red;padding-right: 2px">
          U look like this---->
             <img src="{{ user.userprofile.picture.url }}" class="w3-border w3-padding" height=150px alt="{{user.username}}"/></span>
        {% if user.first_name %}
          <h6 style="color: red ">First Name :</h4>{{ user.first_name }}
        {% endif %}
        {% if user.last_name %}
           <h6 style="color: red ">Last Name :</h4> {{user.last_name}}
        {% endif %}
          <h6 style="color: red ">User Name :</h4>{{user.username}}
        {% if user.email %}
           <h6 style="color: red ">Email Id :</h4> {{user.email}}
        {% endif %}
        <br>
        <h6 style="color: green ">No of plants you Own :  {{all_plants|length}}</h4>
        
        <h6 style="color: blue ">No of reservoir your farms are connected with :  {{tank_all|length}}</h4>
        
            <br><br>
            
          </div>
          <br><br>
    </div>
  </div>
</div>
<!--tank-->


{% for tanks in tank_all %}
<div id="tank{{tanks.id}}" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container">
      <span onclick="document.getElementById('tank{{tanks.id}}').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1> Water Level : Tank {{tanks.id}}</h1>
    </div>
    <div class="w3-container">
      <center>
        <div  id="id2"  >
          <div class="second_div" style="padding-bottom: 80px;">
            <div class="glass">
                  <div class="water" style="height: {{tanks.tank_data_set.last.water_level}}%;"></div>
            </div>
          </div>
          <div class="third_div">
          <br>
            {{tanks.tank_data_set.last.water_level}} %
            <br><br>
          </div>
        </div>
      </center>
    </div>
  </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endfor %}
</div>

<div id="Remove" class="w3-modal" >
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container" >
      <span onclick="document.getElementById('Remove').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>Remove Items</h1>
    </div>
      <div class="w3-container">
        <br>
        <br>
        <div style="float: left;width: 50%;padding-left: 20px ;padding-right: 20px ;padding-bottom: 20px;color:black">
          <form action="/remove/" method="post" enctype="multipart/form-data" name="Add Plant">
            {% csrf_token %}
            <div class="form-sub-w3">
              <label>Remove Items</label><br>
            </div>
            <div class="form-sub-w3 icon-w3">
                <input type="text" name="name" placeholder="Plant Id "  />
                <i class="fa fa-tree" aria-hidden="true"></i>
            </div><br>
            <div class="form-sub-w3 icon-w3">
              <input type="text" name="tank_id" placeholder="Tank Id" />
              <i class="fa fa-flask" aria-hidden="true"></i>
            </div><br>  
            <div class="form-sub-w3 icon-w3">
              <input type="text" name="ws_id" placeholder="Weather Station Id" />
              <i class="fa fa-cloud" aria-hidden="true"></i>
            </div><br>
            <div class="clear"></div>
            <div class="submit-agileits">
              <input type="submit" value="Remove Plant">
            </div>
            <br>
            <br>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>